{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% for post in posts %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      {% if post.image %}
      <img src="{{ post.image.url }}" class="img-fluid rounded-start " alt="...">
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          Title: 
          <a href="{% url 'post_detail' slug=post.slug %}"> {{ post.title }} </a>
          
        </h5>
        <p class="card-text">Content: {{ post.content | truncatechars:15 }}</p>
        <p class="card-text">Author: {{ post.author }}</p>  
        <p class="card-text"><small class="text-body-secondary">{{ post.created_at }} əvvəl</small></p>
      </div>
    </div>
  </div>
</div>
{% empty %}
<div class="alert alert-info" role="alert">
  Hələlik heç bir məqalə yoxdur.
</div>
{% endfor %}


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">

  <!-- first page -->
    <li class="page-item">
      <a class="page-link" href="?page=1">Birinci</a>
    </li>

    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ posts.previous_page_number }}">Əvvəlki</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link">Əvvəlki</a>
      </li>
    {% endif %}
    
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
    
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Sonraki</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link">Sonraki</a>
      </li>
    {% endif %}

    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Sonuncu</a>
    </li>
   
    
  </ul>
</nav>
{% endblock %}